body
{

	background-image: url(image/pink_background1.jpg);
	background-size: cover;
    width: 100%;
    height: 600px;
    text-align: center;
    color: white;
    padding-top: 10px;
	
}

nav
{
color: #FFF8DC;
font-family: chonburi;
padding: 20px;
font-size: 30px;


}		
	
td
	{
		padding: 20px;
		font-size: 20px;
	}

video:hover {
    transform: scale(1.03);
    border-color: #FF69B4 !important;
    box-shadow: 0 5px 20px rgba(255, 105, 180, 0.4);
    transition: all 0.3s ease;
}